extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/aboutController.js")
  div(ng-controller="AboutController")
    div
      h2.content-head Planned Features
      div.features-content
        div(ng-repeat="feature in features") {{feature.title}}
      div.privacy-link
        a(href="/privacy") View our Privacy Policy
    div
      h2.content-head Known Issues
      div.features-content
        div(ng-repeat="issue in issues") {{issue.title}}
      h2.content-head Feedback?
      div.features-content
        textarea.feedback-area(ng-model="feedback")
        button.pure-button#submit-button(ng-click="submit()") Submit
