extends layout

block content
  h2.content-head Host a Game
  form.pure-form.pure-form-stacked.pure-u-3-5
    fieldset
      legend Enter Game Details
      label(for="location")
      input#id(type="email", placeholder="Location")
    