extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/hostGameController.js")

  div(ng-controller="HostGameController" ng-init="initWithGame(#{JSON.stringify(game)})")
    form.pure-form.pure-form-stacked(name="gameForm", ng-submit="save(gameForm.$valid)", novalidate)
      div.row
        div.col-md-6
          fieldset
            legend Enter Game Details
            div
              div.padded-input
                label(for="gameType") Game Type
                input#gameType(type="text", placeholder="e.g. Hold'em, Omaha, Mixed", ng-model="dataModel.gameType", required)
              div
                label(for="gameFormat") Game Format
                select#gameFormat(ng-model="dataModel.gameFormat", required)
                  option(value="Cash Game") Cash Game
                  option(value="Tournament") Tournament
                  option(value="Other") Other
            div
              div.padded-input
                label(for="stakes") Stakes
                input#stakes(type="text", placeholder="e.g. $1/$2, $20 buy in", ng-model="dataModel.stakes", required)
              div
                label(for="seats") Number of Seats
                input#seats(type="number", placeholder="2 or more", min=2, ng-model="dataModel.seats", required)
            div
              label(for="location") Location
              input#location(type="text", placeholder="Enter Address/Neighborhood/Transit Location", ng-model="dataModel.location", required)
            div
              div.padded-input
                label(for="date") Date
                input#date(type="date", ng-model="dataModel.date", required)
              div
                label(for="time") Time
                input#time(type="time" ng-model="dataModel.time", required)
            div
              label(for="notes") Notes
              textarea#notes(ng-model="dataModel.notes", style="width: 100%")
            div
              div
                label.pure-checkbox(for="seatHost", ng-show="gameIsNew()")
                  input#seatHost(type="checkbox", ng-model="seatHost")
                  | &nbsp;Seat Me Automatically
        div.col-md-6
          fieldset
            legend Email Options
            div
              label.pure-checkbox(for="emailNotifications")
                input#emailNotifications(type="checkbox", ng-model="dataModel.emailNotifications")
                | &nbsp;Notify Me when Players Join/Leave the Game
            div
              label.pure-checkbox(for="sendEmail", ng-show="gameIsNew()")
                  input#sendEmail(type="checkbox", ng-model="emailEnabled")
                  | &nbsp;Email Player Pool
            div(ng-show="emailEnabled")
              label(for="subject") Subject
              input#subject(type="text", ng-model="subject")
            div(ng-show="emailEnabled")
              label(for="html") HTML Content
              div(text-angular, name="html-edit", ng-model="html", ta-text-editor-class="boder-around" ta-html-editor-class="border-around" ta-focused-class="focused")
      div(style="width: 30%")
        input.pure-button.pure-button-primary(type="submit", value="Save")
