extends layout

block content
  div.splash-container
    div.splash
      div.splash-head Welcome to #{title}!
      div.splash-subhead Login or Register with&nbsp;
        a(href="/auth/facebook") Facebook
      