extends layout

block content
  div.splash-container
    div.splash
      div.splash-head Welcome to #{title}!
        div.splash-description Sign up for a Poker Game, or Host one yourself
      div.splash-subhead
        div.login-section
          div#login-links
            a.strong-text(href="/auth/facebook", onclick="$('#login-links').hide(); $('#logging-in').show();") Login with Facebook
            |&nbsp;|&nbsp;
            a.strong-text(href="/auth/google", onclick="$('#login-links').hide(); $('#logging-in').show();") Login with Google
          div#logging-in(style="display: none") Logging In...
          div.login-disclaimer-section
            div.login-disclaimer-link
              a(href="#", onclick="") WTF why do I need to login with facebook or google? Is this a scam?
            div.login-disclaimer(style="display: none;")
              div.disclaimer-subsection Facebook and Google integration lets you use this app without creating a brand new account. It's less work for everyone that way.
              div.disclaimer-subsection You will be taken to Facebook or Google's secure server for authentication. We do not store any login information (we couldn't if we wanted to). We won't even try to post anything to your Facebook wall or Google+ feed (if you actually use that). The only information we collect is your name and email address.
            script(type="text/javascript")
              | $('.login-disclaimer-link a').on('click', function(){ $('.login-disclaimer').css('display', 'block'); $('.login-disclaimer-link').css('display', 'none'); });
