doctype html
html
  head
    title= title
    script(type='text/javascript' src='/javascripts/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript' src='/javascripts/vendor/bootstrap/dist/js/bootstrap.js')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href="/javascripts/vendor/font-awesome/css/font-awesome.css")
    link(rel='stylesheet', href="/javascripts/vendor/textAngular/dist/textAngular.css")
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type="text/javascript", src='/javascripts/vendor/textAngular/dist/textAngular-rangy.min.js')
    script(type="text/javascript", src='/javascripts/vendor/textAngular/dist/textAngular-sanitize.min.js')
    script(type="text/javascript", src='/javascripts/vendor/textAngular/dist/textAngular.min.js')

    script(type='text/javascript' src='/javascripts/shared/base.js')
    script(type='text/javascript' src='/javascripts/shared/util.js')

    script(type='text/javascript' src='/javascripts/controllers/sharedController.js')

    script(type="text/javascript").
      if (window.location.hash && (window.location.hash == '#/_=_' || window.location.hash == '#_=_')) {window.location.hash = '';}

    script(type="text/javascript").
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1554131611521512',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app="homeGameApp")
    div#fb-root
    header.navbar.navbar-inverse.navbar-static-top(ng-controller="SharedController", ng-init="init(#{JSON.stringify(sharedModel)})")
      .container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navigationList" aria-expanded="false")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Home Game
        div#navigationList.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/mygames") My Games
            li
              a(href="/host") Host a Game
            li
              a(href="/playerPool") Player Pool
            li
              a(href="/profile") Profile
            li
              a(href="/about") About
            li(ng-show="sharedModel.loggedIn")
              a(href="/logout") Logout
        div.email-confirm-box.ng-hide(ng-show="sharedModel.showEmailPrompt")
          div.email-confirm-inner
            div.email-confirm-input
              label Is this the right email?
              input(type="text", ng-model="sharedModel.email")
            div.email-confirm-buttons
              button.pure-button.button-small(ng-click="updateEmail()") Submit
              button.pure-button.button-small.button-plain(ng-click="cancelEmailUpdate()") Cancel
      div.alert-container.container.ng-hide(ng-show="errorsExist()")
        div.alert.alert-danger.alert-dismissible.fade.in
          button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden="true") x
          | {{errorText()}}
    .container-fluid
      block content
