doctype html
html
  head
    title= title
    script(type='text/javascript' src='/javascripts/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.js')
    
    script(type='text/javascript' src='/javascripts/shared/base.js')
    script(type='text/javascript' src='/javascripts/shared/util.js')
    
    script(type='text/javascript' src='/javascripts/controllers/sharedController.js')
    
    script(type="text/javascript").
      if (window.location.hash && (window.location.hash == '#/_=_' || window.location.hash == '#_=_')) {window.location.hash = '';}
    
    script(type="text/javascript").
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1554131611521512',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
       
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app="homeGameApp")
    div#fb-root
    .header(ng-controller="SharedController", ng-init="init(#{JSON.stringify(sharedModel)})")
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="/") Home Game
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href="/mygames") My Games
          li.pure-menu-item
            a.pure-menu-link(href="/host") Host a Game
          li.pure-menu-item
            a.pure-menu-link(href="/profile") Profile
          li.pure-menu-item
            a.pure-menu-link(href="/logout") Logout
        div.email-confirm-box(ng-show="sharedModel.showEmailPrompt")
          div.email-confirm-inner
            div.email-confirm-input
              label Is this the right email?
              input(type="text", ng-model="sharedModel.email")
            div.email-confirm-buttons
              button.pure-button.button-small(ng-click="updateEmail()") Submit
              button.pure-button.button-small.button-plain(ng-click="cancelEmailUpdate()") Cancel
    .content
      block content
