doctype html
html
  head
    title= title
    script(type='text/javascript' src='/javascripts/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/vendor/angular/angular.js')
    
    script(type='text/javascript' src='/javascripts/shared/base.js')
    script(type='text/javascript' src='/javascripts/shared/util.js')
    
    script(type="text/javascript").
      if (window.location.hash && (window.location.hash == '#/_=_' || window.location.hash == '#_=_')) {window.location.hash = '';}
    
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app="homeGameApp")
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="/") Home Game
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href="/mygames") My Games
          li.pure-menu-item
            a.pure-menu-link(href="/host") Host a Game
          li.pure-menu-item
            a.pure-menu-link(href="/profile") Profile
          
    .content
      block content
