extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/myGamesController.js")
  div(ng-controller="MyGamesController", ng-init="initWithGames(#{JSON.stringify(ownedGames)}, #{JSON.stringify(playerGames)}, #{JSON.stringify(waitlistedGames)})")
    div.pure-g
      div.pure-u-3-5
        div.game-list
          h2.content-head 
            | Upcoming Games
          div.game-grid(ng-repeat="game in playerGames")
            div.pure-g
              div.pure-u-18-24
                div.game-grid-top-left.game-grid-subhead {{game.owner.displayName}}'s {{game.stakes}} {{game.gameType}} {{game.gameFormat}}
                div.game-grid-middle-left {{game.dateString}}
                  span.strong-text &nbsp;|&nbsp
                  | {{game.timeString}}
                div.game-grid-botttom-left 
                  div.info-body
                    span {{game.filledSeats}} of {{game.seats}} Seats Filled&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.emptySeats}}&nbsp;Seat
                    span(ng-show="game.multiSeats") s
                    span &nbsp;Left&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.notes}}
              div.pure-u-6-24
                div.game-grid-right
                  button.pure-button.game-grid-button.game-grid-top-button(href="#" ng-click="$parent.viewGame(game)") View 
                  button.pure-button.game-grid-button.game-grid-bottom-button(href="#" ng-click="$parent.leaveGame(game)") Cancel                
          div.game-grid.empty-game-grid(ng-show="noPlayerGames()")
            div.game-grid-subhead You have no upcoming games.
            a(href="#") How do I join a game?
        div.game-list
          h2.content-head 
            span(ng-hide="noWaitlistedGames()") Waitlisted Games
          div.game-grid.waitlist-grid(ng-repeat="game in waitlistedGames")
            div.pure-g
              div.pure-u-18-24
                div.game-grid-top-left.game-grid-subhead {{game.owner.displayName}}'s {{game.stakes}} {{game.gameType}} {{game.gameFormat}}
                div.game-grid-middle-left {{game.dateString}}
                  span.strong-text &nbsp;|&nbsp
                  | {{game.timeString}}
                div.game-grid-botttom-left 
                  div.info-body
                    span {{game.filledSeats}} of {{game.seats}} Seats Filled&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.emptySeats}}&nbsp;Seat
                    span(ng-show="game.multiSeats") s
                    span &nbsp;Left&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.notes}}
              div.pure-u-6-24
                div.game-grid-right
                  button.pure-button.game-grid-button.game-grid-top-button(href="#" ng-click="$parent.viewGame(game)") View 
                  button.pure-button.game-grid-button.game-grid-bottom-button(href="#" ng-click="$parent.leaveGame(game)") Cancel                             
      div.pure-u-2-5
        h2.content-head
          | Hosted Games
        div.game-grid(ng-repeat="game in ownedGames")
          div.pure-g
            div.pure-u-2-3
              div.strong-text {{game.location}}
              div {{game.dateString}}
                span.strong-text &nbsp;|&nbsp
                | {{game.timeString}}
              div.sub-text {{game.filledSeats}} / {{game.seats}} Seats Filled
            div.pure-u-1-3.game-grid-hosted-right
              div.push-sm
                button.pure-button.button-small.game-grid-small-button(ng-click="$parent.editGame(game)") Edit Game Info
              div.push-sm
                button.pure-button.button-small.game-grid-small-button(ng-click="$parent.copyUrl(game)") Copy Game URL
              div
                button.pure-button.button-small(ng-click="$parent.viewGame(game)") View Game Page
        div.game-grid.empty-game-grid(ng-show="noOwnedGames()")
            div.game-grid-subhead You are not hosting any games.
            a(href="#") How do I host a game?