extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/myGamesController.js")
  div(ng-controller="MyGamesController", ng-init="initWithGames(#{JSON.stringify(ownedGames)}, #{JSON.stringify(playerGames)}, #{JSON.stringify(waitlistedGames)})")
    div
      div
        div.game-list
          h2.content-head(ng-hide="pastGamesVisible")
            | Upcoming Games
            span.show-hide-link
              a(href="#", ng-click="showPastGames()") Show Past Games
          h2.content-head(ng-show="pastGamesVisible")
            | Past Games
            span.show-hide-link
              a(href="#", ng-click="hidePastGames()") Show Upcoming Games
          div.game-grid(ng-repeat="game in playerGames | filter:gameShouldBeShown")
            div
              div
                div.game-grid-top-left.game-grid-subhead {{game.owner.displayName}}'s {{game.stakes}}, {{game.gameType}} {{game.gameFormat}}
                div.game-grid-middle-left {{game.dateString}}
                  span.strong-text &nbsp;|&nbsp
                  | {{game.timeString}}
                div.game-grid-botttom-left 
                  div.info-body.multi-line
                    span {{game.filledSeats}} of {{game.seats}} Seats Filled&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.emptySeats}}&nbsp;Seat
                    span(ng-show="game.multiSeats") s
                    span &nbsp;Left&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.notes}}
              div
                div.game-grid-right
                  button.pure-button.game-grid-button.game-grid-top-button(href="#" ng-click="$parent.viewGame(game)") View 
                  button.pure-button.game-grid-button.game-grid-bottom-button(href="#" ng-click="$parent.leaveGame(game)") Cancel                
          div.game-grid.empty-game-grid(ng-show="noPlayerGamesShowing()")
            div.game-grid-subhead You have no&nbsp
              span(ng-show="!pastGamesVisible") upcoming
              span(ng-show="pastGamesVisible") past
              | &nbsp;games.
            div.game-grid-info-link
              a(href="#", ng-hide="joinInfoVisible", ng-click="showJoinInfo()") How do I join a game?
            div.game-grid-info(ng-show="joinInfoVisible") A game host has to share a link with you, which will take you to the game page. You can join from there.
        div.game-list
          h2.content-head 
            span(ng-hide="noWaitlistedGames()") Waitlisted Games
          div.game-grid.waitlist-grid(ng-repeat="game in waitlistedGames | filter:gameShouldBeShown")
            div
              div
                div.game-grid-top-left.game-grid-subhead {{game.owner.displayName}}'s {{game.stakes}} {{game.gameType}} {{game.gameFormat}}
                div.game-grid-middle-left {{game.dateString}}
                  span.strong-text &nbsp;|&nbsp
                  | {{game.timeString}}
                div.game-grid-botttom-left 
                  div.info-body.multi-line
                    span {{game.filledSeats}} of {{game.seats}} Seats Filled&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.emptySeats}}&nbsp;Seat
                    span(ng-show="game.multiSeats") s
                    span &nbsp;Left&nbsp;
                    span.strong-text &sect;&nbsp;
                    span {{game.notes}}
              div
                div.game-grid-right
                  button.pure-button.game-grid-button.game-grid-top-button(href="#" ng-click="$parent.viewGame(game)") View 
                  button.pure-button.game-grid-button.game-grid-bottom-button(href="#" ng-click="$parent.leaveGame(game)") Cancel                             
      div
        h2.content-head
          | Hosted Games
          span.show-hide-link(ng-hide="pastOwnedGamesVisible")
              a(href="#", ng-click="showPastOwnedGames()") Show Past Games
          span.show-hide-link(ng-show="pastOwnedGamesVisible")
              a(href="#", ng-click="hidePastOwnedGames()") Hide Past Games
        div.game-grid(ng-repeat="game in ownedGames | filter:ownedGameShouldBeShown")
          div
            div
              div.strong-text {{game.location}}
              div {{game.dateString}}
                span.strong-text &nbsp;|&nbsp
                | {{game.timeString}}
              div.info-body.strong-text {{game.filledSeats}} of {{game.seats}} Seats Filled
            div.game-grid-hosted-right
              div.game-grid-button-container
                button.pure-button.button-small.game-grid-small-button(ng-click="$parent.editGame(game)") Edit Game Info
              div.game-grid-button-container
                button.pure-button.button-small.game-grid-small-button(ng-click="$parent.copyUrl(game)") Copy Game URL
              div.game-grid-button-container
                button.pure-button.button-small.game-grid-small-button(ng-click="$parent.viewGame(game)") View Game Page
        div.game-grid.empty-game-grid(ng-show="noOwnedGamesShowing()")
            div.game-grid-subhead You&nbsp;
              span(ng-show="!pastOwnedGamesVisible") are not hosting
              span(ng-show="pastOwnedGamesVisible") have not hosted
              | &nbsp;any games.
            div.game-grid-info-link
              a(href="#", ng-hide="hostInfoVisible", ng-click="showHostInfo()") How do I host a game?
            div.game-grid-info(ng-show="hostInfoVisible") Click the "Host" menu item above, and fill out the form.
