extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/myGamesController.js")
  div(ng-controller="MyGamesController", ng-init="initWithGames(#{JSON.stringify(ownedGames)}, #{JSON.stringify(playerGames)}, #{JSON.stringify(waitlistedGames)})")
    div.pure-g
      div.pure-u-3-5
        div.game-list
          h2.content-head 
            span(ng-show="noPlayerGames()") No&nbsp;
            | Upcoming Games
          div.game-grid(ng-repeat="game in playerGames")
            div.pure-g
              div.pure-u-16-24 {{game.owner.name}}'s {{game.stakes}} {{game.gameType}} {{game.gameFormat}}
              div.pure-u-6-24 {{game.filledSeats}} / {{game.seats}} Seats Filled
              div.pure-u-2-24 
                a(href="{{game.joinGameUrl}}") View
            div.pure-g
              div.pure-u-16-24 {{game.dateString}} @ {{game.timeString}}
              div.pure-u-6-24 {{game.notes}}
              div.pure-u-2-24 
                a(href="#" ng-click="$parent.leaveGame(game)") Cancel
        div.game-list
          h2.content-head 
            span(ng-show="noWaitlistedGames()") No&nbsp;
            | Waitlisted Games
          div.game-grid.waitlist-grid(ng-repeat="game in waitlistedGames")
            div.pure-g
              div.pure-u-16-24 {{game.owner.name}}'s {{game.stakes}} {{game.gameType}} {{game.gameFormat}}
              div.pure-u-6-24 {{game.filledSeats}} / {{game.seats}} Seats Filled
              div.pure-u-2-24 
                a(href="{{game.joinGameUrl}}") View
            div.pure-g
              div.pure-u-16-24 {{game.dateString}} @ {{game.timeString}}
              div.pure-u-6-24 {{game.notes}}
              div.pure-u-2-24 
                a(href="#" ng-click="$parent.leaveGame(game)") Cancel
      div.pure-u-2-5
        h2.content-head 
          span(ng-show="noOwnedGames()") No&nbsp;
          | Hosted Games
        div.game-grid(ng-repeat="game in ownedGames")
          div.pure-g
            div.pure-u-2-3 {{game.dateString}} @ {{game.timeString}}
            div.pure-u-1-3 {{game.filledSeats}} / {{game.seats}} Seats Filled
          div.pure-g
            div.pure-u-1-3
              a(href="{{game.joinGameUrl}}") View Game Page
            div.pure-u-1-3
              a(href="{{game.editGameUrl}}") Edit Game Info
            div.pure-u-1-3
              a(href="#" ng-click="$parent.copyUrl(game)") Copy Game URL
          