extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/playerPoolController.js")
  div(ng-controller="PlayerPoolController" ng-init="init(#{JSON.stringify(playerPool)})")
    div
      div
        h2.content-head Player Pool
        h4.sub-text This page is under construction
        div.roster-panel
          h4.content-head Active Player Pool
          div.roster-seat(ng-repeat="player in playerPool | filter:activePlayer")
            div.roster-image
              img(ng-src="{{player.user.imageUrl}}")
            div.roster-name(ng-bind="parsePlayerName(player)")
          div
        div.roster-panel
          h4.content-head Blocked Players
          div.roster-seat(ng-repeat="player in playerPool | filter:blockedPlayer")
            div.roster-image
              img(ng-src="{{player.user.imageUrl}}")
            div.roster-name(ng-bind="parsePlayerName(player)")
      div
        div.roster-panel
          h4.content-head Pending Requests
          div.roster-seat(ng-repeat="player in playerPool | filter:pendingPlayer")
            div.roster-image
              img(ng-src="{{player.user.imageUrl}}")
            div.roster-name(ng-bind="parsePlayerName(player)")
