extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/playerPoolController.js")
  div(ng-controller="PlayerPoolController" ng-init="init(#{JSON.stringify(playerPool)})")
    h2.content-head Player Pool
    div.row
      div.col-md-6(ng-show="(playerPool | filter:pendingPlayer).length > 0")
        div.roster-panel
          h4.content-head Pending Requests
          div.roster-seat.game-grid(ng-repeat="player in playerPool | filter:pendingPlayer")
            div
              div.roster-image
                img(ng-src="{{player.user.imageUrl}}")
              div.roster-name(ng-bind="parsePlayerName(player)")
            div
              button.pure-button.button-success.button-small(ng-click="$parent.confirmPlayer(player)") Confirm
              button.pure-button.button-plain.left-sm.button-small(ng-click="$parent.blockPlayer(player)") Block
          div(ng-show="(playerPool | filter:pendingPlayer).length == 0") No pending players
      div.col-md-6
        div.roster-panel
          h4.content-head Active Player Pool
          div.roster-seat.game-grid(ng-repeat="player in playerPool | filter:activePlayer")
            div
              div.roster-image
                img(ng-src="{{player.user.imageUrl}}")
              div.roster-name(ng-bind="parsePlayerName(player)")
            div
              button.pure-button.button-plain.button-small(ng-click="$parent.blockPlayer(player)") Block
          div(ng-show="(playerPool | filter:activePlayer).length == 0") No active players
        div.roster-panel
          h4.content-head Blocked Players
          div.roster-seat.game-grid(ng-repeat="player in playerPool | filter:blockedPlayer")
            div
              div.roster-image
                img(ng-src="{{player.user.imageUrl}}")
              div.roster-name(ng-bind="parsePlayerName(player)")
            div
              button.pure-button.button-success.button-small(ng-click="$parent.confirmPlayer(player)") Confirm
          div(ng-show="(playerPool | filter:blockedPlayer).length == 0") No blocked players
