extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/profileController.js")
  div(ng-controller="ProfileController" ng-init="init(#{JSON.stringify(user)}, [])")
    h2.content-head Profile - #{user.displayName}
    p.
      <strong>id</strong>: #{user.id}
      <strong>email</strong>: #{user.email}