extends layout

block content
  script(type="text/javascript" src="/javascripts/controllers/profileController.js")
  div(ng-controller="ProfileController" ng-init="init(#{JSON.stringify(user)}, [])")
    h2.content-head Profile
    div
      div
        div
          div
            h3 {{user.name}}
          div
            button.header-button(ng-hide="editing", ng-click="edit()") Edit
            button.header-button(ng-show="editing", ng-click="cancel()") Cancel
            button.header-button(ng-show="editing", ng-click="save()") Save
        div
          div.strong-text Display Name
          div
            span(ng-hide="editing") {{user.customName}}
            span(ng-show="editing")
              input(type="text", ng-model="user.customName")
        div.drop-md
          div.strong-text Email
          div
            span(ng-hide="editing") {{user.email}}
            span(ng-show="editing")
              input(type="text", ng-model="user.email")
      
